
*.lref
*.cache
Container/obj/Debug/Container.csproj.FileListAbsolute.txt
.vs/Container/v15/.suo
*.ide
.vs/Container/v15/.suo
.vs/Container/v15/sqlite3/storage.ide
Container/bin/Debug/Container.exe
Container/obj/Debug/Container_MarkupCompile.lref
.vs/Container/v15/.suo
Container/obj/Debug/App.g.i.cs
*.cache
Container/obj/Debug/Window/MainAppPage.g.i.cs
Container/obj/Debug/Window/MainWindow.g.i.cs
.vs/Container/v15/.suo
Container/obj/Debug/App.g.i.cs
Container/obj/Debug/Window/MainAppPage.g.i.cs
Container/obj/Debug/Window/MainWindow.g.i.cs
.vs/Container/v15/.suo
Container/obj/Debug/Container_MarkupCompile.lref
*.pdb
*.lref
*.resources
